<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Yezidi Library</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div class="profile">
            <img src="https://images-ext-1.discordapp.net/external/Zl1dGcqk6QdekkfcyVxVvRystNvS48CwRmbRlSFlBCM/https/i.imgur.com/eBAfDir.png?width=676&height=676" alt="profile-image">
            <h1>Yezidi Heritage</h1>
        </div>
        <a href="https://github.com/Rajni2002" target="blank">
            <div class="github">
                <img src="https://img.icons8.com/fluency/48/000000/github.png" alt="Github-icon" />
                <p>Collaborate <span>with me on Github</span></p>
            </div>
        </a>
        <a href="https://twitter.com/YazidiReligion" target="blank">
            <div class="Twitter">
                <img src="https://img.icons8.com/fluency/48/000000/twitter.png" alt="Twitter-icon" />
                <p>Read <span>my threads Twitter</span></p>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/rajnikant-dash-2k2/" target="blank">
            <div class="Discord">
                <img src="https://img.icons8.com/fluency/48/000000/linkedin.png" alt="Linked-icon" />
                <p>Connect <span>with me on Linkedin</span></p>
            </div>
        </a>
    </main>
</body>

</html>
